.follow-button {
  background: #B993D6;
  margin: 20px;
  border: none;
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: white;
  transform: scale(1.3, 1.3);
}
.follow-button::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.follow-button:hover {
  background: #B993D6;
  -webkit-transform: scale(1.4, 1.4);
  transform: scale(1.4, 1.4);
  color: white;
}
.follow-button:focus {
  background: #B993D6;
  color: white;
  border: none;
}
.follow-button:hover::after {
  opacity: 1;
}
